.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

h1,
h2 {
  color: #333;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer {
  background-color: #f7f7f7;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  position: relative;
  bottom: 0;
}
